@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 100vh;
	display: grid;
	grid-template-columns: 290px 1fr;
	grid-template-rows: 165px 1fr;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
}

.sidebar {
	background-color: #64748b;
	color: white;
	font-size: 20px;
	grid-area: sidebar;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr 1.5fr;
}

.header {
	background-color: #f8fafc;
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr;
}

.main {
	background-color: #e2e8f0;
	grid-area: main;
}

.nav1,
.nav2,
.nav3 {
	text-align: start;
}

div {
	margin-bottom: 1em;
}

.dashboard {
	font-size: 26px;
	margin-top: 10px;
}

.child {
	display: inline-block;
	vertical-align: middle;
}

.nav1 img {
	width: 2.5em;
	margin-top: 0.5em;
	margin-left: 1em;
	margin-right: 0.5em;
}

#dash-symbol {
	width: 2.4em;
	margin-right: 0.3em;
}
.sidebar img {
	width: 1.3em;
	margin-left: 1.5em;
	margin-right: 1em;
	filter: brightness(0) invert(1);
}
.top-row {
	display: inline-grid;
	grid-auto-flow: column;
	margin-top: 8px;
	grid-template-columns: 70px 600px 100px 100px 200px;
	grid-template-rows: 1fr;
}

#magnify-icon {
	margin-top: auto;
	justify-self: end;
}

#search-input {
	margin-left: 20px;
	margin-top: 20px;
	padding: 5px;
	border: none;
	border-radius: 30px;
	height: 20px;
	width: 500px;
	background-color: #cbd5e1;
}

#bell-icon {
	justify-self: end;
	align-self: center;
}
#profile-photo {
	width: 2.8em;
	align-self: center;
	justify-self: center;
}
#user-name {
	align-self: center;
	font-size: 18px;
}
.header-icon {
	width: 1.5em;
}
.bottom-row {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
	grid-template-columns: 125px 550px 125px 125px 125px;
	margin-top: 15px;

}
.header-button {
	height: 38px;
	width: 94px;
	border: none;
	background-color: #64748b;
	color: white;
	padding: 2px 20px 2px 20px;
	border-radius: 30px;
	font-size: 14px;
	align-self: center;
	justify-self: center;
}

#profile-photo-2 {
	width: 4em;
	justify-self: end;
	margin-right: 20px;
	margin-left: 25px;
}
#greeting {
	display: flex;
	flex-direction: column;
}

#greeting-top {
	font-size: 14px;
	margin-bottom: 4px;
}

#greeting-bottom {
	font-size: 24px;
}